.container2 {
    position: absolute;
    top: 0.15px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 1440px;
    height: 117.85px;
}
.home {
    position: relative;
    line-height: 18px;
}
.vectorIcon15 {
    position: relative;
    width: 13.67px;
    height: 7.83px;
}
.linkList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.vectorIcon16 {
    position: relative;
    width: 13.07px;
    height: 7.23px;
}
.sections {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 219.17px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;
}
.masterPrimaryButton1 {
    border-radius: 30px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 18px 24px;
}
.userIcon1 {
    position: relative;
    width: 39px;
    height: 34px;
}
.buttonsSet {
    position: absolute;
    top: 32px;
    left: 1118px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 0px 0px 25px;
    box-sizing: border-box;
    gap: 24px;
    font-size: 16px;
    color: #fff;
}
.group5Copy2 {
    position: relative;
    width: 34.35px;
    height: 34.35px;
}
.health {
    position: relative;
    letter-spacing: -0.03em;
    line-height: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 96px;
    height: 42px;
    flex-shrink: 0;
}
.chain {
    position: relative;
    letter-spacing: -0.03em;
    line-height: 25px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 42px;
    flex-shrink: 0;
    margin-left: -10px;
}
.healthParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.group5CopyParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
}
.pro {
    position: relative;
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 25px;
    font-weight: 800;
    display: inline-block;
    width: 35px;
    height: 42px;
    flex-shrink: 0;
}
.frameParent {
    position: absolute;
    top: 42px;
    left: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: Nunito;
}
.headersV5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 118px;
    color: #5d5a88;
    font-family: 'DM Sans';
}
.contentChild {
    position: relative;
    width: 589.09px;
    height: 419.01px;
    object-fit: cover;
}
.pricing {
    position: relative;
    letter-spacing: -0.02em;
}
.tag {
    border-radius: 18px;
    border: 1px solid #303030;
    box-sizing: border-box;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-align: center;
}
.bookAFree1 {
    align-self: stretch;
    position: relative;
    font-size: 60px;
    letter-spacing: -0.03em;
    line-height: 68px;
    font-weight: 800;
}
.text53 {
    position: relative;
    letter-spacing: -0.02em;
    font-weight: 800;
}
.solidArrowRightSm1 {
    position: relative;
    width: 24px;
    height: 24px;
}
.content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.buttonPrimaryIcon14 {
    border-radius: 24px;
    background-color: #303030;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
.text52 {
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.content {
    width: 1107px;
    height: 312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
}
.container3 {
    border-radius: 30px;
    background: linear-gradient(94.43deg, #d2c6e6, #e8d3e7 28.82%, #b3daf2 73.91%, #d8e8f3);
    width: 1262px;
    height: 471px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 100px 80px 84px;
    box-sizing: border-box;
}
.frameDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.about {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
.aboutUs {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 500;
}
.privacyPolicy {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 500;
}
.termsOfService1 {
    position: absolute;
    top: 136px;
    left: 0px;
    font-weight: 500;
}
.aboutParent {
    position: absolute;
    top: 0px;
    left: 419px;
    width: 125px;
    height: 159px;
}
.findADoctor1 {
    position: absolute;
    top: 50px;
    left: 7px;
    font-weight: 500;
}
.bookAnAppointment1 {
    position: absolute;
    top: 93px;
    left: 7px;
    font-weight: 500;
}
.telehealthServices {
    position: absolute;
    top: 136px;
    left: 7px;
    font-weight: 500;
}
.medicationOrdering {
    position: absolute;
    top: 179px;
    left: 7px;
    font-weight: 500;
}
.quickLinksParent {
    position: absolute;
    top: 0px;
    left: 676px;
    width: 172px;
    height: 202px;
}
.aCuttingEdgeHealthcare1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 288px;
}
.aCuttingEdgeHealthcareTechWrapper {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 288px;
    height: 115px;
}
.contact1 {
    position: absolute;
    top: 0px;
    left: 0.2px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
.div {
    position: absolute;
    top: 50px;
    left: 0.2px;
    font-weight: 500;
}
.healthchainprogmailcom {
    position: absolute;
    top: 93px;
    left: 0.2px;
    font-weight: 500;
}
.youtubeIcon1 {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
}
.youtubeParent {
    position: absolute;
    top: 136px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.contactParent {
    position: absolute;
    top: 0px;
    left: 932.8px;
    width: 214.2px;
    height: 161px;
}
.footer {
    position: relative;
    width: 1147px;
    height: 202px;
    margin-top: -53px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
}
.frameGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 30px;
    color: #000;
}
.copyright20231 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.5);
}
.containerParent {
    position: absolute;
    top: 2243px;
    left: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 49px;
    text-align: left;
    font-size: 16px;
    color: #303030;
}
.ourCoreFeatures1 {
    position: absolute;
    top: 165px;
    left: 553px;
    font-size: 60px;
    letter-spacing: -0.03em;
    line-height: 68px;
    font-weight: 800;
}
.oslerSAi {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    width: 106px;
}
.frameChild {
    position: relative;
    border-radius: 48px;
    background-color: #fff;
    width: 391px;
    height: 50px;
    z-index: 0;
}
.pinParent {
    margin: 0 !important;
    position: absolute;
    top: 10px;
    left: 26px;
    border-radius: 48px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    z-index: 1;
}
.rectangleParent {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.frameWrapper {
    position: absolute;
    top: 37px;
    left: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 391px;
    height: 50px;
    text-align: left;
    font-size: 15px;
    color: #9aa19c;
}
.oslerSAiDrivenTelehealthBParent {
    position: relative;
    width: 391px;
    height: 87px;
    text-align: center;
}
.oslerSAi1 {
    position: absolute;
    top: 0px;
    left: 0.5px;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    width: 167px;
}
.groupChild {
    position: absolute;
    top: 53.41px;
    left: -1.5px;
    border-top: 3px solid #d8a2bf;
    box-sizing: border-box;
    width: 340px;
    height: 3px;
}
.groupItem {
    position: absolute;
    top: 53.41px;
    left: 40.5px;
    border-top: 3px solid #843b62;
    box-sizing: border-box;
    width: 179px;
    height: 3px;
}
.groupInner {
    position: absolute;
    top: 43.23px;
    left: 31px;
    border-radius: 50%;
    background-color: #843b62;
    width: 22px;
    height: 19.77px;
}
.ellipseDiv {
    position: absolute;
    top: 43.23px;
    left: 207px;
    border-radius: 50%;
    background-color: #843b62;
    width: 22px;
    height: 19.77px;
}
.eth {
    position: absolute;
    top: 1px;
    left: 0px;
    display: inline-block;
    font-weight: 200;
    width: 19px;
    height: 22px;
}
.i {
    position: absolute;
    top: 1px;
    left: 292px;
    display: inline-block;
    font-weight: 200;
    width: 11px;
    height: 22.46px;
}
.i1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 200;
}
.i2 {
    position: absolute;
    top: 100px;
    left: 0px;
    font-weight: 200;
}
.i3 {
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: 200;
}
.i4 {
    position: absolute;
    top: 150px;
    left: 0px;
    font-weight: 200;
}
.i5 {
    position: absolute;
    top: 25px;
    left: 0px;
    font-weight: 200;
}
.i6 {
    position: absolute;
    top: 125px;
    left: 0px;
    font-weight: 200;
}
.i7 {
    position: absolute;
    top: 75px;
    left: 0px;
    font-weight: 200;
}
.i8 {
    position: absolute;
    top: 175px;
    left: 0px;
    font-weight: 200;
}
.i9 {
    position: absolute;
    top: 200px;
    left: 0px;
    font-weight: 200;
}
.number1a1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 11px;
    height: 225px;
}
.number1a {
    position: absolute;
    top: 0px;
    left: 53px;
    width: 10px;
    height: 21.57px;
    overflow: hidden;
}
.number1a2 {
    position: absolute;
    top: 1px;
    left: 303px;
    width: 10px;
    height: 21.57px;
    overflow: hidden;
}
.number1b {
    position: absolute;
    top: 0px;
    left: 63px;
    width: 10px;
    height: 21.57px;
    overflow: hidden;
}
.number1b2 {
    position: absolute;
    top: 1px;
    left: 313px;
    width: 10px;
    height: 21.57px;
    overflow: hidden;
}
.number1b4 {
    position: absolute;
    top: 1px;
    left: 323px;
    width: 10px;
    height: 21.57px;
    overflow: hidden;
}
.lineParent {
    position: absolute;
    top: 26px;
    left: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 337px;
    height: 63px;
    font-size: 18px;
    color: #000;
}
.oslerSAiDrivenTelehealthBGroup {
    position: relative;
    width: 337px;
    height: 89px;
}
.oslerSAi2 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    width: 154px;
}
.searchLocation {
    position: relative;
    font-weight: 500;
}
.groupDiv {
    position: absolute;
    top: 37px;
    left: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 391px;
    height: 50px;
    font-size: 15px;
    color: #9aa19c;
}
.oslerSAiDrivenTelehealthBContainer {
    position: relative;
    width: 392px;
    height: 87px;
}
.groupParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    text-align: left;
}
.linkList2 {
    width: 1234px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    color: #0b51b9;
    font-family: 'DM Sans';
}
.iconAdd4 {
    position: absolute;
    top: 14px;
    left: 129px;
    width: 24px;
    height: 24px;
    display: none;
}
.text54 {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 23.25px);
    line-height: 20px;
    font-weight: 600;
}
.iconAdd5 {
    position: absolute;
    top: 14px;
    left: 206px;
    width: 24px;
    height: 24px;
    display: none;
}
.button {
    flex: 1;
    position: relative;
    border-radius: 40px;
    border: 1px solid #303030;
    box-sizing: border-box;
    height: 52px;
}
.text55 {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 24.25px);
    line-height: 20px;
    font-weight: 600;
}
.button1 {
    flex: 1;
    position: relative;
    border-radius: 40px;
    background-color: #303030;
    height: 52px;
    text-align: left;
    color: #fff;
}
.buttonParent {
    width: 343px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frameWrapper1 {
    width: 1234px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 16px;
    color: #303030;
    font-family: Poppins;
}
.frameParent1 {
    position: absolute;
    top: 280px;
    left: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 20px;
}
.vectorIcon18 {
    position: absolute;
    height: 0.61%;
    width: 1.88%;
    top: 28.62%;
    right: 54.24%;
    bottom: 70.78%;
    left: 43.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logoPillow44 {
    position: absolute;
    height: 38.89%;
    width: 27.78%;
    top: 36.11%;
    right: 30.56%;
    bottom: 25%;
    left: 41.67%;
    border-radius: 9px;
    background-color: #e3e4e3;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.logoPillow45 {
    position: absolute;
    height: 38.89%;
    top: 36.11%;
    right: -18px;
    bottom: 25%;
    border-radius: 9px;
    background-color: #e3e4e3;
    width: 20px;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.logoPillow46 {
    position: absolute;
    bottom: 2px;
    left: calc(50% - 10px);
    border-radius: 9px;
    background-color: #e3e4e3;
    width: 20px;
    height: 28px;
}
.logoPillow47 {
    position: absolute;
    top: 2px;
    left: calc(50% - 10px);
    border-radius: 9px;
    background-color: #e3e4e3;
    width: 20px;
    height: 28px;
}
.logomark {
    position: absolute;
    top: calc(50% - 35.5px);
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
}
.frame1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #c5c8c6;
    overflow: hidden;
}
.jun {
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
}
.oslerPillow11 {
    position: relative;
    border-radius: 1.5px;
    background-color: #c5c8c6;
    width: 4px;
    height: 4px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame3 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: left;
    color: #647067;
}
.oslerSAi3 {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 800;
}
.tag1 {
    border-radius: 15px;
    border: 1px solid #647067;
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
}
.pricing2 {
    position: relative;
    letter-spacing: -0.01em;
}
.tag2 {
    border-radius: 12px;
    border: 1px solid #647067;
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 14px;
}
.frame4 {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}
.frame2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.text56 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.content2 {
    align-self: stretch;
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.frame {
    border-radius: 48px;
    background-color: #f5f5f5;
    width: 274px;
    height: 418px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 50px;
    box-sizing: border-box;
    z-index: 0;
}
.istockphoto1311511363612x612Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 241px;
    height: 304px;
    object-fit: cover;
}
.istockphoto1311511363612x612Wrapper {
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 40px;
    width: 241px;
    height: 304px;
    overflow: hidden;
}
.buttonPrimaryIcon15 {
    align-self: stretch;
    flex: 1;
    border-radius: 24px;
    background-color: #ececec;
    overflow: hidden;
    z-index: 0;
}
.vectorIcon19 {
    position: relative;
    width: 15px;
    height: 15.5px;
}
.socialIcons22 {
    position: relative;
    width: 15px;
    height: 15.5px;
    overflow: hidden;
    flex-shrink: 0;
}
.socialIcons23 {
    position: relative;
    width: 15px;
    height: 14.52px;
    overflow: hidden;
    flex-shrink: 0;
}
.vectorParent {
    margin: 0 !important;
    position: absolute;
    top: 7px;
    left: 11px;
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: 1;
}
.buttonPrimaryIconParent {
    position: absolute;
    top: 290px;
    left: 54px;
    width: 135px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.pricing3 {
    position: absolute;
    top: 363px;
    left: 79px;
    letter-spacing: -0.02em;
}
.oslerSAi4 {
    position: absolute;
    top: 336px;
    left: 0px;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    width: 242px;
}
.frameParent5 {
    position: absolute;
    margin: 0 !important;
    top: 18px;
    left: 16px;
    width: 242px;
    height: 385px;
    z-index: 1;
    font-size: 16px;
}
.frameParent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.istockphoto1330046035612x612Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 235px;
    height: 304px;
    object-fit: cover;
}
.pricing6 {
    position: absolute;
    top: 363px;
    left: 61px;
    letter-spacing: -0.02em;
}
.pricing9 {
    position: absolute;
    top: 363px;
    left: 48px;
    letter-spacing: -0.02em;
}
.image14Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 241px;
    height: 305px;
    object-fit: cover;
}
.pricing12 {
    position: absolute;
    top: 363px;
    left: 82px;
    letter-spacing: -0.02em;
}
.frameParent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
}
.pricing18 {
    position: absolute;
    top: 363px;
    left: 47px;
    letter-spacing: -0.02em;
}
.frameParent2 {
    position: absolute;
    top: 542px;
    left: 144px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 12px;
}
.content10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttonPrimaryIcon23 {
    position: absolute;
    top: 1459px;
    left: 653px;
    border-radius: 24px;
    background-color: #303030;
    height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
}
.buttonPrimaryIcon24 {
    position: absolute;
    top: 2064px;
    left: 1151px;
    border-radius: 24px;
    background-color: #303030;
    height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
}
.abstractBlurDefocusedPharmaIcon {
    position: relative;
    width: 449.95px;
    height: 300px;
    object-fit: cover;
    z-index: 0;
}
.content12 {
    align-self: stretch;
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    z-index: 1;
}
.socialIcons39 {
    position: relative;
    background-color: #fff;
    width: 15px;
    height: 14.52px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.locationPin13 {
    position: relative;
    width: 19px;
    height: 20px;
    object-fit: cover;
}
.vectorParent6 {
    margin: 0 !important;
    position: absolute;
    top: 7px;
    left: 16px;
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: 1;
}
.buttonPrimaryIconParent6 {
    position: absolute;
    top: 0px;
    left: 117px;
    width: 143px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.pricing27 {
    position: absolute;
    top: 68.14px;
    left: 123.07px;
    letter-spacing: -0.02em;
    display: inline-block;
    width: 116.84px;
    height: 22.86px;
}
.oslerSAi20 {
    position: absolute;
    top: 40.09px;
    left: 0px;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    width: 377px;
    height: 28.05px;
}
.frameParent22 {
    position: absolute;
    margin: 0 !important;
    top: 327px;
    left: 0px;
    width: 377px;
    height: 91px;
    z-index: 2;
    font-size: 16px;
}
.frame40 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 48px;
    background-color: #f5f5f5;
    width: 377px;
    height: 418px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 50px;
    box-sizing: border-box;
    gap: 24px;
}
.frame45 {
    position: absolute;
    top: 0px;
    left: 398px;
    border-radius: 48px;
    background-color: #f5f5f5;
    width: 377px;
    height: 418px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 50px;
    box-sizing: border-box;
    gap: 24px;
}
.logomark10 {
    position: absolute;
    top: calc(50% - 35.5px);
    left: calc(50% - 35.5px);
    width: 72px;
    height: 72px;
}
.frame50 {
    position: absolute;
    top: 9px;
    left: 796px;
    border-radius: 48px;
    background-color: #f5f5f5;
    width: 377px;
    height: 418px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 50px;
    box-sizing: border-box;
    gap: 24px;
}
.frameParent21 {
    position: absolute;
    top: 1616px;
    left: 132px;
    width: 1195px;
    height: 437px;
    overflow: hidden;
    font-size: 12px;
}
.pharmacy {
    position: absolute;
    top: 1548px;
    left: 132px;
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 68px;
    font-weight: 800;
}
.marketplace {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 3083px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #2f3c33;
    font-family: Nunito;
}

